<%if (success.length){%>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>

<%if (deleted.length){%>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%= deleted %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
<%}%>

<%if (added.length){%>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%= added %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>

<%if (delete_review.length){%>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%= delete_review %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>

<%if (edited.length){%>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%= edited %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>

<%if (error.length){%>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>

<%if (signup.length){%>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%= signup %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>

<%if (signuperr.length){%>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert">
        <%= signuperr %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>

<%if (login.length){%>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
        <%= login %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>
